@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.siteContainer {
    align-items: center;
    color: purple;
    display: grid;
    font-family:'Ubuntu', sans-serif;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 50px 10fr 50px;
    height: 100vh;
    width: 98vw;
}

/*Header*/
.siteHeader
{
    display: flex;
    grid-area: header;
    padding: 0vh 0vw 0vh 2vw;
}
.headerLink
{
    color: purple;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
.headerSpan
{
    background-color:darkviolet;
    color: white;
    padding: 0vh 0.5vw 0vh 0.5vw;
    border-radius: 5px;
}
/*Main*/
.siteMain
{
    grid-area: main;
    padding: 0vh 2vw 0vh 2vw;
}
/*Footer*/
.siteFooter
{
    display: flex;
    font-weight: 600;
    font-style: italic;
    grid-area: footer;
    justify-content: center;
}

/*IndexPage*/
.indexContainer
{
    display: grid;
    grid-template-areas:
        "title title"
        "cust proj"
        "timeReg timeReg";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 2fr 1fr;
    width: 100%;
}

.indexTitle
{
    grid-area: title;
}

.indexCustPanel
{
    border: solid 1px black;
    border-radius: 5px;
    color: purple;
    grid-area: cust;
    text-align: center;
    text-decoration: none;
    margin: 0.5vh 0.5vw;
}

.indexCustPanel:hover
{
    box-shadow: 1px 1px 3px darkviolet;
}

.indexProjPanel
{
    border: solid 1px black;
    border-radius: 5px;
    color: purple;
    grid-area: proj;
    text-align: center;
    text-decoration: none;
    margin: 0.5vh 0.5vw;
}

.indexProjPanel:hover
{
    box-shadow: 1px 1px 3px darkviolet;
}

.indexTimeRegPanel
{
    border: solid 1px black;
    border-radius: 5px;
    grid-area: timeReg;
    text-align: center;
    margin: 0.5vh 0.5vw;
}
/*CustomerIndexPage*/
.customerIndexContainer
{
    display: grid;
    grid-template-areas:
        "title"
        "buttons"
        "content";
    grid-template-rows: 40px 40px 1fr;
    width: 100%;
}
.customerIndexTitle
{
    grid-area: title;
    font-size: 2em;
    text-align: center;
}
.customerIndexButtonPanel
{
    grid-area: buttons;
    margin: 1vh 0vw 1vh 0vw;
    text-align: center;
}
.customerIndexContent
{
    grid-area: content;
}

/*customerIndexListItem*/
.customerIndexListItem
{
    text-align: center;

    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    margin: 0.5vh 0.5vw;
    padding: 1.0vh;
}

/*redirectButtons*/
.redirectButton
{
    background-color: darkviolet;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 0vh 0.5vw;
    padding: 1vh 2vw;
    text-align: right;
    text-decoration: none;
}
.redirectButton:hover
{
    transition: 0.2s;
    filter: brightness(1.2);
}
.redirectButton:active
{
    transition: 0.2s;
    filter: brightness(0.8);
}

/*smallRedirectButtons*/
.smallRedirectButton
{
    background-color: darkviolet;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 0vh 0.1vw;
    padding: 0.25vh 0.5vw;
    text-align: right;
    text-decoration: none;
}
.smallRedirectButton:hover
{
    transition: 0.2s;
    filter: brightness(1.2);
}
.smallRedirectButton:active
{
    transition: 0.2s;
    filter: brightness(0.8);
}

/*customerNewContainer*/
.customerNewContainer
{
    grid-template-areas:
        "title"
        "buttons"
        "form";
    grid-template-rows: 40px 40px 1fr;
    width: 100%;
}

.customerForm
{
    grid-area: from;
}

.formGroup
{
    display: flex;
    flex-direction: column;
}

.formInput
{
    color: purple;
    font-size: 2em;
}

.formLabel
{
    font-size: 1.5em;
}

.formError
{
    color: red;
}

.formSubmit
{
    background-color: darkviolet;
    border-radius: 15px;
    border: none;
    color: white;
    display: inline;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6;
    margin: 1vh 0vw;
    padding: 1vh 2vw;
}
.formSubmit:hover{
    transition: 0.2s;
    filter: brightness(1.2);
}
.formSubmit:active{
    transition: 0.2s;
    filter: brightness(0.8);
}