@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <h1>Use a local account to log in.</h1>
    <form id="account" method="post" class="customerForm">
        <div asp-validation-summary="ModelOnly" class="formError"></div>
        <div class="formGroup">
            <label asp-for="Input.Email" class="formLabel"></label>
            <input asp-for="Input.Email" class="formInput" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="formError"></span>
        </div>
        <div class="formGroup">
            <label asp-for="Input.Password" class="formLabel"></label>
            <input asp-for="Input.Password" class="formInput" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="formError"></span>
        </div>
        <div>
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="formLabel">
                    <input class="formInput" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <input id="login-submit" type="submit" class="formSubmit" value="Log in"/>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
