
@model AdministartionWebsite.ViewModels.Project.ProjectPageViewModelListItem;

<div class="CustomerPageProjectListItem">
    <p>Date: @Model.Date</p>
    <p>Time: @Model.MinutesSpent</p>
    <p>Desc: @Model.Description</p>
</div>