
@model AdministartionWebsite.ViewModels.Project.ProjectEditViewModel;

<section class="customerEditContainer">
    <h1 class="customerIndexTitle">Project Edit</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew" class="redirectButton">New</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex" class="redirectButton">Back</a>
    </nav>

    <form class="customerForm" method="post">
        <input type="hidden" asp-for="ProjectId" value=@Model.ProjectId>

        <div class="formGroup">
            <label asp-for="ProjectName" class="formLabel"></label>
            <input asp-for="ProjectName" class="formInput"/>
            <span asp-validation-for="ProjectName" class="formError"></span>
        </div>

        <input class="formSubmit" type="submit" value="Edit">
    </form>
</section>

