
@model AdministartionWebsite.ViewModels.Project.ProjectNewViewModel;
<section class="customerNewContainer">
    <h1 class="customerIndexTitle">Project New</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex" class="redirectButton">Back</a>
    </nav>

    <form class="customerForm" method="post">

        <div class="formGroup">
            <label asp-for="ProjectName" class="formLabel"></label>
            <input asp-for="ProjectName" class="formInput"/>
            <span asp-validation-for="ProjectName" class="formError"></span>
        </div>

        <div class="formGroup">
            <label asp-for="CustomerId" class="formLabel"></label>
            <select asp-for="CustomerId" asp-items="@Model.CustomerList" class="formInput"></select>
            <span asp-validation-for="CustomerId" class="formError"></span>
        </div>

        <input class="formSubmit" type="submit" value="Create">
    </form>
</section>
