
@model AdministartionWebsite.ViewModels.Project.ProjectNewViewModel;
<section>
    <h1 class="customerIndexTitle">Project New</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex">Back</a>
    </nav>

    <form method="post">

        <div>
            <label asp-for="ProjectName"></label>
            <input asp-for="ProjectName"/>
            <span asp-validation-for="ProjectName"></span>
        </div>

        <div>
            <label asp-for="CustomerId"></label>
            <select asp-for="CustomerId" asp-items="@Model.CustomerList"></select>
            <span asp-validation-for="CustomerId"></span>
        </div>

        <input type="submit" value="Create">
    </form>
</section>
