@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdministartionWebsite.ViewModels.Project.ProjectIndexViewModel;

<a asp-area="" asp-controller="Project" asp-action="ProjectNew">new</a>

<div>
@foreach(var proj in Model.Projects!)
{
    <partial name="_piVMListItemPartial" model="@proj"/>
}
</div>