
@model AdministartionWebsite.ViewModels.Project.ProjectEditViewModel;

<section>
    <h1 class="customerIndexTitle">Project Edit</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew">New</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex">Back</a>
    </nav>

    <form method="post">
        <input type="hidden" asp-for="ProjectId" value=@Model.ProjectId>

        <div>
            <label asp-for="ProjectName"></label>
            <input asp-for="ProjectName"/>
            <span asp-validation-for="ProjectName"></span>
        </div>

        <input type="submit" value="Edit">
    </form>
</section>

