
@model AdministartionWebsite.ViewModels.Project.ProjectIndexViewModel;

<section class="customerIndexContainer">
    <h1 class="customerIndexTitle">Project Index</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew" class="redirectButton">New</a>
    </nav>

    <div class="customerIndexContent">
    @foreach(var proj in Model.Projects!)
    {
        <partial name="_piVMListItemPartial" model="@proj"/>
    }
    </div>
</section>
