
@model AdministartionWebsite.ViewModels.Project.ProjectIndexViewModel;

<section>
    <h1 class="customerIndexTitle">Home Page</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew">New</a>
    </nav>

    <div>
    @foreach(var proj in Model.Projects!)
    {
        <partial name="_piVMListItemPartial" model="@proj"/>
    }
    </div>
</section>
