@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.siteContainer
{
    align-items: center;
    color: orangered;
    display: grid;
    font-family:'Ubuntu', sans-serif;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 50px 50px 10fr 50px;
    height: 100vh;
    width: 98vw;
}

/*Header*/
.siteHeader
{
    grid-area: header;
    padding: 0vh 0vw 0vh 2vw;
}
.headerLink
{
    color: orangered;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
.headerSpan
{
    background-color: orange;
    color: white;
    padding: 0vh 0.5vw 0vh 0.5vw;
    border-radius: 5px;
}
/*Main*/
.siteMain
{
    grid-area: main;
    padding: 0vh 2vw 0vh 2vw;
}
/*Footer*/
.siteFooter
{
    display: flex;
    font-weight: 600;
    font-style: italic;
    grid-area: footer;
    justify-content: center;
}

/*TimeRegistrationList*/
.timeRegistrationPanel
{
    border: solid 1px black;
    border-radius: 5px;
    color: orangered;
    display: block;
    margin: 0.5vh 0vw 0.5vh 0vw;
}
.timeRegistrationPanel:hover
{
    box-shadow: 1px 1px 3px orange;
}
.timeregTitle
{
    font-size: 2em;
    text-align: center;
}
.timeregPropertyLabel
{
    text-align: center;
    display: block;
}
.timeregPropertyValue
{
    text-align: left;
    display: block;
}

/*Buttons*/
.buttonBar
{
    grid-area: nav;
    display: flex;
    justify-content: right;
    padding: 0vh 2vw;
}
.redirectButton
{
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 0vh 0.5vw;
    padding: 1vh 2vw;
    text-align: right;
    text-decoration: none;
}
.redirectButton:hover
{
    transition: 0.2s;
    filter: brightness(1.2);
}
.redirectButton:active
{
    transition: 0.2s;
    filter: brightness(0.8);
}

/*Form section*/
.formGroup
{
    display: flex;
    flex-direction: column;
}

.formInput
{
    color: orangered;
    font-size: 2em;

}

.formLabel
{
    font-size: 1.5em;
}

.formTextArea
{
    color: orangered;
    font-size: 2em;
    resize: none;
}

.formSubmit
{
    background-color: orange;
    border-radius: 15px;
    border: none;
    color: white;
    display: inline;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6;
    margin: 1vh 0vw;
    padding: 1vh 2vw;
}
.formSubmit:hover{
    transition: 0.2s;
    filter: brightness(1.2);
}
.formSubmit:active{
    transition: 0.2s;
    filter: brightness(0.8);
}
/*RegPage*/
.regPagePanel
{
    border: solid 1px black;
    border-radius: 5px;
    padding: 1vh 2vw;
}
.regPanelTitle
{
    font-size: 2em;
    text-align: center;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
.regPanelLabel
{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}
.regPanelDescriptionContainer
{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.regPanelDescription
{
    font-size: 1em;
}