@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdministartionWebsite.ViewModels.Customer.CustomerIndexVMListItem;

<div class="customerIndexListItem">
    <h2>@Model.CustomerName</h2>
    <a asp-area="" asp-controller="Customer" asp-action="CustomerPage" asp-route-ID="@Model.CustomerId" class="smallRedirectButton">link</a>
    <a asp-area="" asp-controller="Customer" asp-action="CustomerEdit" asp-route-ID="@Model.CustomerId" class="smallRedirectButton">edit</a>
    <a asp-area="" asp-controller="Customer" asp-action="CustomerDelete" asp-route-ID="@Model.CustomerId" class="smallRedirectButton">delete</a>
</div>