
@model AdministartionWebsite.ViewModels.Customer.CustomerPageProjectListItem;
<div>
    <p>Project Name: @Model.ProjectName</p>
    <p>Amount of Regs: @Model.regAmount</p>
    <p>Latest Reg: @Model.latestRegDate</p>
</div>