
@model AdministartionWebsite.ViewModels.Customer.CustomerPageProjectListItem;
<div class="CustomerPageProjectListItem">
    <h4>Project Name: @Model.ProjectName</h4>
    <p>Amount of Regs: @Model.regAmount</p>
    <p>Latest Reg: @Model.latestRegDate</p>
</div>