
@model AdministartionWebsite.ViewModels.Customer.CustomerIndexViewModel;

<section class="customerIndexContainer">
    <h1 class="customerIndexTitle">Customer Index</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Customer" asp-action="CustomerNew" class="redirectButton">New</a>
    </nav>

    <div class="customerIndexContent">
    @foreach(var cust in Model.Customers!)
    {
        <partial name="_ciVMListItemPartial" model="@cust"/>
    }
    </div>
</section>