
@model AdministartionWebsite.ViewModels.Customer.CustomerEditViewModel;
<section class="customerIndexContainer">
    <h1 class="customerIndexTitle">Customer Edit</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Customer" asp-action="CustomerNew" class="redirectButton">New</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" class="redirectButton">Back</a>
    </nav>

    <form class="customerForm"  method="post">

        <input type="hidden" asp-for="CustomerId" value=@Model.CustomerId>

        <div>
            <label asp-for="CustomerName" class="formLabel"></label>
            <input asp-for="CustomerName" class="formInput"/>
            <span asp-validation-for="CustomerName" class="formError"></span>
        </div>

        <input class="formSubmit" type="submit" value="Edit">
    </form>
</section>