
@model AdministartionWebsite.ViewModels.Customer.CustomerPageViewModel;

<section class="customerPageContainer">
    <h1 class="customerIndexTitle">@Model.CustomerName</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Customer" asp-action="CustomerNew" class="redirectButton">New</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerEdit" asp-route-ID="@Model.CustomerId" class="redirectButton">Edit</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerDelete" asp-route-ID="@Model.CustomerId" class="redirectButton">Delete</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" class="redirectButton">Back</a>
    </nav>
    
    <div class="customerPageProjectList">
        <h2 class="customerPageProjectListHeader">Projects</h2>
    @foreach(var proj in Model.CustomerProjects!)
    {
        <partial name="_cppListItemPartial" model="@proj"/>
    }
    </div>
</section>