@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdministartionWebsite.ViewModels.Customer.CustomerPageViewModel;

<section>
    <h2>Customer Name: @Model.CustomerName</h2>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Customer" asp-action="CustomerNew" class="redirectButton">New</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerEdit" asp-route-ID="@Model.CustomerId" class="redirectButton">Edit</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerDelete" asp-route-ID="@Model.CustomerId" class="redirectButton">Delete</a>
        <a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" class="redirectButton">Back</a>
    </nav>
    
    <div>
        <h3>Projects</h3>
    @foreach(var proj in Model.CustomerProjects!)
    {
        <partial name="_cppListItemPartial" model="@proj"/>
    }
    </div>
</section>