@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdministartionWebsite.ViewModels.Customer.CustomerNewViewModel;
<section>
    <h1 class="customerIndexTitle">Customer New</h1>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Customer" asp-action="CustomerIndex" class="redirectButton">Back</a>
    </nav>

    <form method="post">

        <div>
            <label asp-for="CustomerName"></label>
            <input asp-for="CustomerName"/>
            <span asp-validation-for="CustomerName"></span>
        </div>

        <input type="submit" value="Create">
    </form>
</section>