<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimeAdmin.com</title>
    <link rel="stylesheet" href="~/css/override.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="siteContainer">
    <header class="siteHeader">
        <a class="headerLink" asp-area="" asp-controller="Home" asp-action="Index"><span class="headerSpan">Time</span>Admin.com</a>
        <partial name="_LoginPartial" />
    </header>

    <main class="siteMain">
        @RenderBody()
    </main>

    <footer class="siteFooter">
        Carl Bergqvist
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
